@model Mar9_一對多.Models.Permissions

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Permissions</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Permissionss.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Permissionss.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
